.focused {
	flex-grow: 1;
	border: solid 1px;
	border-radius: var(--rounded);
	padding: 1rem;
}
.movesAndStats {
	display: flex;
	gap: 1rem;

	@media (min-aspect-ratio: 2/1) {
		flex-direction: column;
	}
}
