/* The animation code */
@keyframes shakingBall {
	0% {
		transform: rotate(-45deg);
	}
	25% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(45deg);
	}
	75% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-45deg);
	}
}

/* The element to apply the animation to */
.shakingBall {
	height: 60px;
	width: 60px;
}

@keyframes jumping {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-10%);
	}
	50% {
		transform: translateY(-5%);
	}
	75% {
		transform: translateY(-10%);
	}
	100% {
		transform: translateY(0);
	}
}

.healthIndicator {
	animation-name: jumping;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 128px;
	max-width: 128px;
	min-height: 128px;
	min-width: 128px;
	border-radius: var(--circular);

	background-image: conic-gradient(
		green 0deg,
		green var(--healthPercentage),
		transparent var(--healthPercentage)
	);
}
.healthIndicator:has(.battleSprite):has(.shakingBall) {
	transform-origin: center;
	animation-name: shakingBall;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.battleSprite {
	min-height: 120px;
	max-height: 120px;
	min-width: 120px;
	max-width: 120px;
	background-color: var(--main-bg-color);
	border-radius: var(--circular);
}
.battleSprite:has(.shakingBall) {
	display: flex;
	justify-content: center;
	align-items: center;
}
.active {
	animation-duration: 1s;
}
.overlay {
	border-radius: var(--circular);
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	top: -159px;
	min-height: 120px;
	max-height: 120px;
	min-width: 120px;
	max-width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.levelIndicator {
	border-radius: var(--circular);
	background-color: var(--main-bg-90);
	padding: 0.25rem;
	position: relative;
	top: -127px;
	right: -84px;
	max-width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
