/* The animation code */
@keyframes shakingBall {
	0% {
		transform: rotate(-45deg);
	}
	25% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(45deg);
	}
	75% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-45deg);
	}
}

@keyframes jumping {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-10%);
	}
	50% {
		transform: translateY(-5%);
	}
	75% {
		transform: translateY(-10%);
	}
	100% {
		transform: translateY(0);
	}
}
.expIndicator {
	animation-name: var(--animationName);
	animation-duration: 2s;
	animation-iteration-count: infinite;
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 134px;
	max-width: 134px;
	min-height: 134px;
	min-width: 134px;
	border-radius: var(--circular);

	background-image: conic-gradient(
		var(--expColor) 0deg,
		var(--expColor) var(--expPercentage),
		transparent var(--expPercentage)
	);
}
.healthIndicator {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 128px;
	max-width: 128px;
	min-height: 128px;
	min-width: 128px;
	border-radius: var(--circular);

	background-image: conic-gradient(
		green 0deg,
		green var(--healthPercentage),
		transparent var(--healthPercentage)
	);
}

.content {
	min-height: 120px;
	max-height: 120px;
	min-width: 120px;
	max-width: 120px;
	background-color: var(--main-bg-color);
	border-radius: var(--circular);
	display: grid;
}

.battleSprite {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 120px;
}
.tagWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	margin: -10px;
}

.tagWrapper .battleSpriteTag {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	opacity: 0.9;
	margin: calc(-40px / 2);
	/* background: var(--main-bg-90); */
	border-radius: 50%;
	border: 1px solid;
	font-size: x-small;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.redTag {
	background-color: red;
}
.greenTag {
	background-color: green;
}

.battleSprite,
.overlay,
.tagWrapper {
	grid-column: 1;
	grid-row: 1;
}
.overlay {
	border-radius: var(--circular);
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 120px;
	max-height: 120px;
	min-width: 120px;
	max-width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
