.loginWrapper {
	input::placeholder {
		text-align: center;
	}

	input,
	button {
		box-sizing: border-box;
		width: 12rem;
		text-align: center;
	}
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100dvh;
	gap: 1rem;
	width: 100%;
}
