.movePill {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	align-items: center;
	border: 1px solid;
	border-radius: var(--rounded);
	padding: 0 0.5rem;
}

.movePillCenter {
	justify-self: start;
}

.movePillPP {
	justify-self: center;
}
.movePillTypeIcon {
	height: 2.5rem;
	width: 2.5rem;
	justify-self: center;
}
