.tag {
	background-color: red;
	position: relative;
	top: 0.5rem;
	left: 90%;
	height: 1.25rem;
	line-height: 1.25rem;
	text-align: center;
	padding: 0.25rem;
	width: min-content;
	border-radius: var(--rounded);
}
