.battle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100dvh;
}

.battleField {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-grow: 1;
}
.opponentField {
	display: flex;
	justify-content: flex-end;
}
.playerField {
	align-self: flex-end;
	display: flex;
	justify-content: flex-start;
}
