.battle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100dvh;
}

.battleField {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-grow: 1;
}
.playerField {
	align-self: flex-end;
}
