#playerCanvas {
	position: absolute;
	top: calc(var(--SIZE) * 3.5px);
	left: calc(var(--SIZE) * 8px);
}
#overworldCanvas {
	position: absolute;
	top: calc(var(--SIZE) * 4px + (var(--SIZE) * var(--OFFSET_TOP) * 1px));
	left: calc(var(--SIZE) * 8px + (var(--SIZE) * var(--OFFSET_LEFT) * 1px));
	z-index: var(--OVERWORLD_CANVAS_INDEX);
}
.occupantCanvas {
	position: absolute;
	top: calc(var(--SIZE) * 4px + (var(--SIZE) * var(--OFFSET_TOP) * 1px));
	left: calc(var(--SIZE) * 8px + (var(--SIZE) * var(--OFFSET_LEFT) * 1px));
}
.overworld {
	max-height: 100dvh;
	overflow: hidden;
}
