:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-user-select: none; /* Safari */
	user-select: none;
	/* z indexes */
	--PLAYER_CANVAS_INDEX: 2;
	--OVERWORLD_CANVAS_INDEX: 1;
	--MODAL_INDEX: 3;
	--BUTTONS_INDEX: 4;
	/* colors */
	--main-bg-color: rgb(28, 30, 30);
	--main-color: aliceblue;
	/* borders */
	--rounded: 8px;
}

button {
	padding: 1rem;
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-color);
	border-radius: var(--rounded);
}

body {
	margin: 0;
	padding: 0;
	height: 100dvh;
	background-color: var(--main-bg-color);
	color: var(--main-color);
}

input {
	background-color: var(--main-bg-color);
	color: var(--main-color);
	padding: 1rem;
	border: 1px solid;
	border-radius: var(--rounded);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

.container {
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
}

.leftCorner {
	position: absolute;
	top: 2rem;
	left: 1rem;
	z-index: 9000;
}
