:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-user-select: none; /* Safari */
	user-select: none;
	/* z indexes */

	--OVERWORLD_CANVAS_INDEX: 1;
	--PLAYER_CANVAS_INDEX: 3;
	--MODAL_INDEX: 4000;
	--BUTTONS_INDEX: 5000;
	/* colors */
	--main-bg-color: rgb(28, 30, 30);
	--main-bg-95: color-mix(in srgb, var(--main-bg-color) 95%, aliceblue);
	--main-bg-90: color-mix(in srgb, var(--main-bg-color) 90%, aliceblue);
	--main-color: aliceblue;
	/* borders */
	--rounded: 8px;
	--circular: 9000px;
	/*slant */
	--slant: -15deg;
}

button {
	padding: 1rem;
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-color);
	border-radius: var(--rounded);
}

body {
	margin: 0;
	padding: 0;
	height: 100dvh;
	background-color: var(--main-bg-color);
	color: var(--main-color);
}

input {
	background-color: var(--main-bg-color);
	color: var(--main-color);
	padding: 1rem;
	border: 1px solid;
	border-radius: var(--rounded);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

.container {
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
}

.leftCorner {
	position: absolute;
	top: 2rem;
	left: 1rem;
	z-index: 9000;
}

.hoverEffect:hover {
	font-weight: bolder;
	border-width: 2px;
}

.bottomDialogue {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: var(--BUTTONS_INDEX);
	font-size: x-large;
	margin: 0 2rem 2rem 2rem;
	width: calc(100% - 4rem);
}
.dialogue {
	font-size: x-large;
	margin: 2rem;
	width: calc(100% - 4rem);
}

.bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: var(--BUTTONS_INDEX);
}
.disabled {
	opacity: 0.5;
}
