.cart {
	border-left: solid 1px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cartItem {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
}
.cartTotal {
	border-top: solid 1px;
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
}
.buyButton {
	background-color: green;
	font-weight: bold;
	margin: 0 0.5rem;
}
